<section data-ng-controller="TablesController">
    <div class="page-header">
        <h1>Tables</h1>
    </div>

    <div class="pull-right">
      <a type="button" class="btn btn-success" href="/#!/tables/create">
        <i class="glyphicon glyphicon-open"></i> New Table
      </a>
    </div>

    <div>
        <table ng-table="tableParams" show-filter="true">
            <tr ng-repeat="table in $data">
                <td data-title="'Name'" sortable="'name'" filter="{ 'name': 'text' }">{{table.name}}</td>
                <td>
                    <div class="table-actions">
                <td>
                   <div class="table-actions">
                        <a class="btn btn-default" title="View" href="/#!/tables/{{table._id}}">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </a>
                        <a class="btn btn-default" title="Edit" href="/#!/tables/{{table._id}}/edit">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a class="btn btn-danger" title="Remove" ng-really-message="Are you sure ?" ng-really-click="remove(table)" item="table">
                  				<span class="glyphicon glyphicon-remove-circle"></span>
                  			</a>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</section>
